# Virtual Environment
venv/
*.env
.venv/

# Python bytecode
**/__pycache__/
**/*.pyc
**/*.pyo


# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store          # macOS system file
Thumbs.db          # Windows system file
Desktop.ini        # Windows system file

# Log files
*.log

# Test output
nosetests.xml
coverage.xml
*.cover

# Python package distribution
*.egg
*.egg-info/
dist/
build/

.env


# Custom
/plots/
/plots_old/
/simulations_old/
/master_23_24_gandj/
/c_generated_code/
/simulations/
/data_analysis/
